body {
    background: linear-gradient(270deg, #FFBC7E 0%, #FC8787 100%);
    font-family: fantasy;
}
div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    color: white;
    background-color: rgb(0, 0, 0, 0.9);
}
input {
    border: none;
    outline: none;
    font-size: 15px;
    padding: 15px;
}
button {
    border: none;
    background: #FFA869;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: rgb(54, 47, 47);
    font-size: 20px;
    cursor: pointer;
}
button:hover{
    background-color: #FFBF90;
}
img {
    margin: auto;
    position: absolute;
    top: -5%;
    width: 325px;
    padding: 4px;
    border-radius: 7%;
    left: 0;
    right: 0;
    background-color: #FC8787;
}